<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACXB7yLbKKb7IAdQJ4RA2HDuyPaXb5sJY</string>
	<key>GCM_SENDER_ID</key>
	<string>553544268060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.market</string>
	<key>PROJECT_ID</key>
	<string>shop-cbf61</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-cbf61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553544268060:ios:2ae8bce46a22cc6e4fa2d9</string>
</dict>
</plist>